<div class="container-fluid">
  <h1 class="shadow p-3 mb-5 bg-white rounded text-center pt-3">{{'Sitetitle' | translate }}</h1>
  <button class="btn btn-primary mt-3 mb-3" (click)="open(contentAdd)">
    {{'Add new' | translate }}
  </button>
  
  <!-- TODO: table -->
  <table class="table table-bordered text-center">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col" class="w-50">{{ 'Table-Title' | translate }}</th>
        <th scope="col">{{ 'Table-Action' | translate }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let category of categories | paginate : {
                  itemsPerPage: size,
                  currentPage: page,
                  totalItems: count
                };
          let i = index" [class.active]="i == currentIndex">
        <th scope="row">{{ i + 1 }}</th>
        <td>{{ category.title }}</td>
        <td>
          <button class="btn btn-info mr-1" (click)="open(contentView)" (click)="getCategoryById(category.id)">
            {{'View' | translate }}
          </button>
          <button class="btn btn-warning mr-1" (click)="open(contentEdit)" (click)="editCategoryById(category.id)">
            {{'Edit' | translate }}
          </button>
          <!-- <button class="btn btn-danger mr-1" (click)="open(contentDelete)" (click)="getCategoryById(category.id)">
            {{'Delete' | translate }}
          </button> -->
        </td>
      </tr>
    </tbody>
  </table>

  <!-- TODO: pagination -->
  <div class="d-flex justify-content-end">
    <pagination-controls 
      class="my-pagination"
      responsive="true" 
      previousLabel="{{'Previous' | translate }}"
      nextLabel="{{'Next' | translate }}"
      (pageChange)="onTableDataChange($event)">
    </pagination-controls>
  </div>

  <!-- TODO: view category detail -->
  <ng-template #contentView let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h3 class="modal-title" id="modal-basic-title">{{ 'Category-Detail' |translate }}</h3>
      <button type="button" class="close" aria-label="Close" (click)="close()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body" class="modal-body" *ngIf="categoryById">
      <h5>{{ 'Form-Title' |  translate }}: {{ categoryById.title }}</h5>
    </div>
    <div class="modal-footer">
      <button class="btn btn-info" ngbAutofocus (click)="d('Cross click')">Ok</button>
    </div>
  </ng-template>


  <!-- TODO: add new category -->
  <ng-template #contentAdd let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">{{ 'Add new category' | translate }}</h4>
      <button type="button" class="close" aria-label="Close" (click)="close()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">

      <form [formGroup]="categoryForm" (ngSubmit)="onSubmit()" ngbAutofocus>
        <label for="title">{{ 'Form-Title' | translate }}</label>
        <input type="text" id="title" name="title" class="form-control" formControlName="title"
          placeholder="{{ 'P-Title' | translate }}">
        <br />
        <div class="alert alert-danger" *ngIf="f.title.invalid && (f.title.dirty || f.title.touched)">
          <small *ngIf="f.title.errors.required">Title is required</small>
        </div>
        <div>
          <button type="submit" [disabled]="!categoryForm.valid" (click)="c('Save click')" class="btn btn-dark">
            {{ 'Btn-Save' | translate }}
          </button> 
          <button type="button" (click)="close()" class="btn btn-light">{{ 'Btn-Cancel' | translate }}</button> 
        </div>
      </form>

    </div>
  </ng-template>

  <!-- TODO: edit category -->
  <ng-template #contentEdit let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">{{ 'Edit category' | translate }}</h4>
      <button type="button" class="close" aria-label="Close" (click)="close()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">

      <form [formGroup]="categoryForm" (ngSubmit)="onEdit()">
        <label for="title">{{ 'Form-Title' |  translate }}</label>
        <input type="text" id="title" name="title" class="form-control" formControlName="title"
          placeholder="{{ 'P-Title' | translate }}" ngbAutofocus />
        <br />

        <div class="alert alert-danger" *ngIf="f.title.invalid && (f.title.dirty || f.title.touched)">
          <small *ngIf="f.title.errors.required">Title is required</small>
        </div>

        <div>
          <button type="submit" [disabled]="!categoryForm.valid" class="btn mr-2"
            style="color: #fff; background-color: #0a5695;" (click)="c('onEdit()')">
            {{ 'Btn-SaveChange' | translate }}
          </button>
          <button type="button" (click)="close()" class="btn btn-light">{{ 'Btn-Cancel' | translate }}</button> 
        </div>
      </form>

    </div>
  </ng-template>

  <!-- TODO: view category detail and delete -->
  <ng-template #contentDelete let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">{{ 'Header-Delete' | translate }}</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body" *ngIf="categoryById">
      <p>Category Title: {{ categoryById.title }}</p>
    </div>
    <div class="modal-footer">
      <button ngbAutofocus class="btn btn-danger" (click)="c('Cross click')" (click)="deleteCategory(categoryById.id)">{{ 'Btn-Yes' | translate }}</button>
      <button type="button" class="btn btn-primary" (click)="close()">{{ 'Btn-No' | translate }}</button>
    </div>
  </ng-template>
</div>