<div class="container-fluid">
  <h1 class="shadow p-3 mb-5 bg-white rounded text-center pt-3">{{'Sitetitle' | translate }}</h1>
  <button class="btn btn-primary mt-3 mb-3" (click)="openXl(Add)">{{'Add new' | translate }}</button>

  <div class="row">
    <!-- TODO: search by book title -->
    <div class="col-2">
      <form class="form-inline">
        <label class="text-secondary">Search by book title</label>
        <input class="form-control" placeholder="{{ 'Search' | translate }}" aria-label="Search" (keyup)="searchBookByTitle($event)">
      </form>
    </div>
    <!-- TODO: filter by category title -->
    <div class="col-2">
      <form class="form-inline">
        <label class="text-secondary">Filter by category title</label>
        <select class="form-control" (change)="searchBookByCategoryTitle($event)">
          <option selected value="">{{ 'Filter' | translate }}</option>
          <option *ngFor="let category of categories; let i = index">
            {{ category.title }}
          </option>
        </select>
      </form>
    </div>
  </div>
  <br>

  <!-- TODO: to display data -->
  <table class="table table-bordered table-hover text-center">
    <caption>{{ 'Book-Caption' | translate }}</caption>
    <thead class="thead-dark" *ngIf="books?.length>0; else elseBlock">
      <tr>
        <th scope="col" style="width: 5%;">#</th>
        <th scope="col" style="width: 10%;">{{ 'Table-Title' | translate }}</th>
        <th scope="col" style="width: 30%;">{{ 'Table-Description' | translate }}</th>
        <th scope="col" style="width: 20;">{{ 'Table-Thumbnail' | translate }}</th>
        <th scope="col" style="width: 10%;">{{ 'Table-Author' | translate }}</th>
        <th scope="col" style="width: 5%;">{{ 'Table-Category' | translate }}</th>
        <th scope="col" style="width: 20%;">{{ 'Table-Action' | translate }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let book of books | paginate : {
            itemsPerPage: size,
            currentPage: page,
            totalItems: count
          };
    let i = index" [class.active]="i == currentIndex">
        <th scope="row">{{ book.id }}</th>
        <td>{{ book.title }}</td>
        <td class="textOverflow">{{ book.description }}</td>
        <td style="width: 10%;">
          <img class="img-fluid m-0" 
               style="object-fit: cover;" 
               [src]="book.thumbnail!=null? book.thumbnail : 'https://sirencomms.com/wp-content/themes/massive-dynamic/assets/img/placeholders/placeholder1.jpg'"
          />
        </td>
        <td>{{ book.author }}</td>
        <td>{{ book.category.title }}</td>
        <td>
          <button class="btn btn-info mr-1" (click)="bookDetail(book.id)">{{'View' | translate }}</button>
          <button class="btn btn-warning mr-1" (click)="openXl(Edit)" (click)="editBookById(book.id)">{{'Edit' | translate }}</button>
          <button class="btn btn-danger mr-1" (click)="open(delete)" (click)="getBookById(book.id)">{{'Delete' | translate }}</button>
        </td>
      </tr>
    </tbody>
  </table>

  <!-- TODO: else block -->
  <ng-template #elseBlock>
     <tbody>
       <tr class="badge-dark">
         <td style="width: 100%;">NO DATA</td>
       </tr>
     </tbody>
  </ng-template>

  <!-- TODO: pagination -->
  <div class="d-flex justify-content-end" *ngIf="books?.length>0">
    <pagination-controls 
      class="my-pagination"
      responsive="true" 
      previousLabel="{{'Previous' | translate }}"
      nextLabel="{{'Next' | translate }}"
      (pageChange)="onTableDataChange($event)">
    </pagination-controls>
  </div>


  <!-- TODO: modal for add new book -->
  <ng-template #Add let-c="close" let-d="dismiss">
    <div class="modal-header badge-dark">
      <h4 class="modal-title" id="modal-basic-title">{{ 'Header-Add new' | translate }}</h4>
      <button type="button" class="close text-light" aria-label="Close" (click)="close()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="bookForm" (ngSubmit)="onSubmit()" ngbAutofocus>
        <div class="row pb-3">
          <div class="col">
            <div class="form-row">
              <div class="col-6">
                <label for="title">{{ 'Form-Title' | translate }}</label>
                <input type="text" id="title" name="title" class="form-control" formControlName="title"
                  placeholder="{{ 'P-Title' | translate }}">
                <div class="alert alert-danger mt-1" *ngIf="f.title.invalid && (f.title.dirty || f.title.touched)">
                  <small *ngIf="f.title.errors.required">Title is required</small>
                </div>
              </div>
              <div formGroupName="category" class="col-6">
                <label for="categoryId">{{ 'Form-Category' | translate }}</label>
                <select id="categoryId" name="categoryId" class="form-control" formControlName="id">
                  <option selected disabled value="">{{ 'P-Category' | translate }}</option>
                  <option *ngFor="let category of categories; let i = index" value="{{category.id}}">
                    {{ category.title }}
                  </option>
                </select>
              </div>
            </div>

            <div class="form-row">
              <div class="col-12">
                <label for="description">{{ 'Form-Description' | translate }}</label>
                <textarea rows="3" id="description" name="description" class="form-control"
                  formControlName="description" placeholder="{{ 'P-Description' | translate }}"></textarea>
                <div class="alert alert-danger mt-1"
                  *ngIf="f.description.invalid && (f.description.dirty || f.description.touched)">
                  <small *ngIf="f.description.errors.required">Description is required</small>
                </div>
              </div>
            </div>

            <div class="form-row">
              <div class="col-6">
                <label for="author">{{ 'Form-Author' | translate }}</label>
                <input type="text" id="author" name="author" class="form-control" formControlName="author"
                  placeholder="{{ 'P-Author' | translate }}">
                <div class="alert alert-danger mt-1" *ngIf="f.author.invalid && (f.author.dirty || f.author.touched)">
                  <small *ngIf="f.author.errors.required">Author is required</small>
                </div>
              </div>
              <div class="col-6">
                <label>{{ 'Form-Upload' | translate }}</label>
                <div class="custom-file mt">
                  <input type="file" class="custom-file-input" id="customFile" #imageInput accept="image/*"
                    (change)="processFile(imageInput)">
                  <label class="custom-file-label" for="customFile">{{ 'P-Upload' | translate }}</label>
                </div>
              </div>
            </div>

          </div>
          <div class="col-4">
            <div style="position: sticky; width: 350px; height: 260px;">
              <img style="object-fit: cover;"
                [src]="image!=null? image : 'https://sirencomms.com/wp-content/themes/massive-dynamic/assets/img/placeholders/placeholder1.jpg'"
                class="rounded float-right w-100 h-100" alt="image">
            </div>
          </div>
        </div>
        <div>
          <button type="submit" [disabled]="!bookForm.valid" style="color: #fff; background-color: #0a5695;"
            class="btn mr-2" (click)="c('onSubmit()')">{{ 'Btn-Save' | translate }}</button>
          <button type="submit" class="btn btn-light" (click)="close()">{{ 'Btn-Cancel' | translate }}</button>
        </div>
      </form>
    </div>
  </ng-template>

  <!-- TODO: modal for edit book -->
  <ng-template #Edit let-c="close" let-d="dismiss">
    <div class="modal-header badge-dark">
      <h4 class="modal-title" id="modal-basic-title">{{ 'Header-Edit-Book' | translate }}</h4>
      <button type="button" class="close text-light" aria-label="Close" (click)="close()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="bookForm" (ngSubmit)="onEdit()">
        <div class="row pb-3">
          <div class="col">
            <div class="form-row">
              <div class="col-6">
                <label for="title">{{ 'Form-Title' | translate }}</label>
                <input ngbAutofocus type="text" id="title" name="title" class="form-control" formControlName="title"
                  placeholder="{{ 'P-Title' | translate }}">
                <div class="alert alert-danger mt-1" *ngIf="f.title.invalid && (f.title.dirty || f.title.touched)">
                  <small *ngIf="f.title.errors.required">Title is required</small>
                </div>
              </div>
              <div formGroupName="category" class="col-6">
                <label for="categoryId">{{ 'Form-Category' | translate }}</label>
                <select id="categoryId" name="categoryId" class="form-control" formControlName="id">
                  <option selected value="">{{ 'P-Category' | translate }}</option>
                  <option *ngFor="let category of categories; let i = index" value="{{category.id}}">
                    {{ category.title }}
                  </option>
                </select>
              </div>
            </div>

            <div class="form-row">
              <div class="col-12">
                <label for="description">{{ 'Form-Description' | translate }}</label>
                <textarea rows="3" id="description" name="description" class="form-control"
                  formControlName="description" placeholder="{{ 'P-Description' | translate }}"></textarea>
                <div class="alert alert-danger mt-1"
                  *ngIf="f.description.invalid && (f.description.dirty || f.description.touched)">
                  <small *ngIf="f.description.errors.required">Description is required</small>
                </div>
              </div>
            </div>

            <div class="form-row">
              <div class="col-6">
                <label for="author">{{ 'Form-Author' | translate }}</label>
                <input type="text" id="author" name="author" class="form-control" formControlName="author"
                  placeholder="author">
                <div class="alert alert-danger mt-1" *ngIf="f.author.invalid && (f.author.dirty || f.author.touched)">
                  <small *ngIf="f.author.errors.required">Author is required</small>
                </div>
              </div>
              <div class="col-6">
                <label>{{ 'Form-Upload' | translate }}</label>
                <div class="custom-file mt">
                  <input type="file" class="custom-file-input" id="customFile" #imageInput accept="image/*"
                    (change)="processFile(imageInput)">
                  <label class="custom-file-label" for="customFile">{{ 'P-Upload' | translate }}</label>
                </div>
              </div>
            </div>

          </div>
          <div class="col-4">
            <div style="position: sticky; width: 350px; height: 260px;">
              <img
                [src]="image!=null? image : 'https://sirencomms.com/wp-content/themes/massive-dynamic/assets/img/placeholders/placeholder1.jpg'"
                style="object-fit: cover;" class="rounded float-right w-100 h-100" alt="image">
            </div>
          </div>
        </div>
        <div>
          <button type="submit" [disabled]="!bookForm.valid" class="btn mr-2"
            style="color: #fff; background-color: #0a5695;" (click)="c('close)')">{{ 'Btn-SaveChange' | translate }}</button>
          <button type="button" class="btn btn-light" (click)="close()">{{ 'Btn-Cancel' | translate }}</button>
        </div>
      </form>
    </div>
  </ng-template>


  <!-- TODO: delete book-->
  <ng-template #delete let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">{{ 'Header-Delete' | translate }}</h4>
      <button type="button" class="close" aria-label="Close" (click)="close()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-footer">
      <button ngbAutofocus class="btn btn-danger" (click)="c('Cross click')"
        (click)="deleteBook(bookById.id)">{{ 'Btn-Yes' | translate }}</button>
      <button class="btn btn-primary" (click)="close()">{{ 'Btn-No' | translate }}</button>
    </div>
  </ng-template>
</div>