<div class="containter-fluid m-5">
    <h1>{{ 'Book-Detail' |translate }}</h1>
    <div class="d-flex flex bd-highlight mb-2">
        <button class="btn btn-dark" type="button" (click)="backHome()">{{ 'Btn-Back' | translate }}</button>
    </div>
    <div class="row" *ngIf="book">
        <div class="col-4">
            <div style="width: 100%">
                <img style="object-fit: cover;"
                [src]="book.thumbnail!=null? book.thumbnail : 'https://sirencomms.com/wp-content/themes/massive-dynamic/assets/img/placeholders/placeholder1.jpg'"
                class="rounded float-right w-100 h-100" alt="image">
            </div>
        </div>
        <div class="col-8">
            <div>
                <h1>{{ book.title }}</h1>
            </div>
            <div>
                <p class="text-info">by {{ book.author }}</p>
            </div>
            <hr>
            <div style="font-size: x-large;">
                <p>{{ book.description }}</p>
            </div>
        </div>
    </div>
    <hr>
</div>
